<nav class="navbar navbar-expand-lg navbar-dark p-2 bg-black">
  <div class="container">
    <a class="navbar-brand" href="/">Templates.Notes App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
      <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Templates.Notes
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/notas/activas">Notas activas</a>
              <a class="dropdown-item" href="/notas/nueva">Agregar nota</a>
                <a class="dropdown-item" href="/notas/archivadas">Notas archivadas</a>
                <a class="dropdown-item" href="/notas/actualizar/{{notas.id}}">Editar nota</a>
                <a class="dropdown-item" href="/notas/borrar/{{notas.id}}">Borrar nota</a>
            </ul>
          </li>
      </ul>
    </div>
  </div>
</nav>
