<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">
    body{
      background: #edf1f5;
    }
  </style>
</head>
<body>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <ul class="nav-pills p-3 bg-white col-mb-3 rounded-pill">
    <button class="nav-link rounded-pill d-flex px-2 px-md-3 mr-0 mr-md-2 active">
      <i class="icon-layers mr-1"></i><span class="d-none d-md-block">Add Note</span>
    </button>
  </ul>
  <div class="col-md-4 mb-4">
        <app-note></app-note>
        </div>
      </div>
</body>

