<span style="display: inline-flexbox" >
<div class="d-flex align-items-center justify-content-center">
  <div class="text-center">
      <h2 class="mb-3 mt-3">Are you sure you want to delete the note?</h2>
      <h5>This is IRREVERSIBLE</h5>
      <div class="d-flex justify-content-center mt-3 mb-3 ml-0 mr-0">
          <button class="btn btn-secondary mr-2" [mat-dialog-close]="true">CANCEL</button>
          <button class="btn btn-danger" (click)="onDeleteClick()">DELETE</button>
      </div>
  </div>
</div>
</span>

